.code-list {
	$base-font-size: 18px;
	$code-padding-top-bottom: 4px;
	$code-padding-left-right: 8px;

	font-size: scut-rem($base-font-size);

	&__term {
		margin-bottom: .5em;
	}

	&__description {
		margin-bottom: 1.5em;
		margin-left: 1em;
	}

	/* Prism override. */
	&__term code[class*="language-"] {
		display: inline-block;
		padding: scut-em($code-padding-top-bottom, $base-font-size) scut-em($code-padding-left-right, $base-font-size);
		overflow: auto;
		max-width: 100%;
	}

	&__term--nested {
		margin-left: 2em;
	}

	&__description--nested {
		margin-left: 3em;
	}

	&__term--nested code[class*="language-"] {
		padding: scut-em($code-padding-top-bottom / 2, $base-font-size) scut-em($code-padding-left-right / 2, $base-font-size);
	}
}
