$logo-block-font-size: 75px;
$logo-icon-font-size: 180px;
$logo-animation-duration: 1.5s;

.logo {
	font-size: scut-rem($logo-block-font-size);
	margin-bottom: scut-em(50px, $logo-block-font-size);
	letter-spacing: scut-em(-5px, $logo-block-font-size);
	text-align: center;

	&__letter {
		font-weight: 200;
		font-style: normal;
		text-rendering: optimizeLegibility;

		&--icon {
			display: inline-block;
			position: relative;
			top: scut-em(22px, $logo-icon-font-size);
			left: scut-em(5px, $logo-icon-font-size);
			animation-name: logo-icon-search;
			animation-duration: $logo-animation-duration;
		}
	}

	// Don't use parent selector in :not(), doesn't compile correctly.
	&__letter:not(.logo__letter--icon) {
		animation-name: fadeIn;
		animation-delay: $logo-animation-duration;
	}
}

@keyframes logo-icon-search {
	0% {
		font-size: scut-em($logo-icon-font-size, $logo-block-font-size);
	}
	25% {
		// transform: translateX(100%);
	}
	50% {
		// transform: translateX(-100%);
	}
	75% {
		// transform: translateX(0);
		// font-size: scut-em($logo-icon-font-size, $logo-block-font-size);
	}
	100% {
		font-size: 1em;
	}
}
