.logo {
	$base-font-size: 38px;
	$icon-font-size: 75px;
	$logo-search-animation-duration: 1s;
	$logo-search-transition-duration: 1s;

	@include media('>=medium') {
		font-size: scut-rem(75px);
	}

	@include media('>=large') {
		font-size: scut-rem(140px);
	}

	font-size: scut-rem($base-font-size);
	margin-bottom: scut-em(40px, $base-font-size);
	font-variant: small-caps;
	text-align: center;
	white-space: nowrap;

	&__letter {
		font-weight: 200;
		font-style: normal;
		// margin-right: scut-em(-18px, $base-font-size);
		// margin-right: -18px;

		// &--cap {
		// 	margin-right: scut-em(-10px, $base-font-size);
		// }

		&--icon {
			font-size: scut-em($icon-font-size, $base-font-size);
			display: inline-block;
			position: relative;
			top: scut-em(12px, $base-font-size);
			left: scut-em(4px, $base-font-size);
			animation-duration: $logo-search-animation-duration;
			animation-name: logo-search;
			// Font size will be changed via js when animation ends.
			// Must use transitions b/c mobile safari blows up on
			// font-size animation.
			// Can't use 'all' keyword, b/c firefox won't run the
			// animation on load. Appears the 'all' is applied to
			// animations as well in some fashion.
			transition: font-size $logo-search-transition-duration, top $logo-search-transition-duration, left $logo-search-transition-duration;
		}
	}

	// Don't use parent selector in :not(), doesn't compile correctly.
	&__letter:not(.logo__letter--icon) {
		animation-name: fadeIn;
		// Wait for search animation to end.
		animation-delay: $logo-search-animation-duration;
	}
}

// Would have this nested in .logo and use @at-root, but this isn't supported
// in libsass yet.
@keyframes logo-search {
	0% {
	}
	33% {
		// Search right.
		transform: translateX(100%);
	}
	66% {
		// Search left.
		transform: translateX(-100%);
	}
	100% {
		// Go back to search start.
		transform: translateX(0);
	}
}
