.section {
	$base-font-size: 18px;
	$header-font-size: $base-font-size * 2;
	$header-group-font-size: $header-font-size * .75;
	$permalink-font-size: 26px;

	font-size: scut-rem($base-font-size);
	margin: 0 scut-em(36px, $base-font-size) scut-em(90px, $base-font-size) scut-em(36px, $base-font-size);
	color: #333;

	&__permalink {
		text-decoration: none;
		color: inherit;

		&-icon {
			font-size: scut-em($permalink-font-size, $header-font-size);
		}
	}

	&__header {
		font-size: scut-em($header-font-size, $base-font-size);
		margin-bottom: scut-em($base-font-size, $header-font-size);
		font-weight: 200;
		font-style: normal;
		text-rendering: optimizeLegibility;

		&--group {
			font-size: scut-em($header-group-font-size, $base-font-size);
			margin-bottom: scut-em($base-font-size, $header-group-font-size);
		}
	}

	&__group {
		margin-bottom: scut-em(45px, $base-font-size);
	}

	&__text {
		margin-bottom: scut-em($base-font-size, $base-font-size);
	}

	&__inline-code[class*="language-"] {
		padding: 0 scut-em(8px, $base-font-size);
	}
}
