.site-header {
	font-size: scut-rem(36px);
	margin-bottom: 2.5em;
	background-color: #0681CD;
	padding: 1em;
	text-align: center;
}

.site-header__title {
	margin-bottom: 1.5em;
	margin-left: 1.5em;
	word-break: break-all;
	word-wrap: break-word;
	font-weight: 200;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

.site-header__tagline {
	font-size: .75em;
	margin-bottom: 1.5em;
	line-height: 1.4;
	font-weight: 200;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

.site-header__btn {
	color: inherit;
	margin-bottom: 1em;
	text-decoration: none;
	font-size: .75em;
	border: 1px solid #fff;
	padding: .5em 1em;
	width: 100%;
	display: inline-block;
	transition: .4s all;
}

.site-header__btn:hover,
.site-header__btn:focus {
	background-color: #fff;
	color: #0681CD;
}

@media only screen and (min-width: 40.063em) {

	.site-header__title {
		margin-left: 1em;
		margin-bottom: 2em;
	}

	.site-header__btn {
		width: auto;
		padding-left: 1.5em;
		padding-right: 1.5em;
	}

}
