.site-header {
	$base-font-size: 36px;
	$tagline-font-size: 28px;
	$btn-font-size: 28px;

	@include media('>=medium') {
		width: auto;
		padding-left: 1.5em;
		padding-right: 1.5em;
	}

	font-size: scut-rem($base-font-size);
	margin-bottom: scut-em(90px, $base-font-size);
	padding: 1em;
	background-color: #0681CD;
	text-align: center;

	&__tagline {
		font-size: scut-em($tagline-font-size, $base-font-size);
		margin-bottom: scut-em(40px, $tagline-font-size);
		line-height: 1.4;
		font-weight: 200;
		font-style: normal;
		text-rendering: optimizeLegibility;
	}

	&__btn {
		font-size: scut-em($btn-font-size, $base-font-size);
		margin-bottom: scut-em(30px, $btn-font-size);
		padding: .5em 1em;
		color: inherit;
		text-decoration: none;
		border: 1px solid #fff;
		width: 100%;
		display: inline-block;
		transition: .4s all;

		&:hover,
		&:focus {
			background-color: #fff;
			color: #0681CD;
		}

	}
}
