.site-header {
	$base-font-size: 36px;
	$tagline-font-size: 28px;
	$btn-font-size: 28px;

	font-size: scut-rem($base-font-size);
	margin-bottom: scut-em(50px, $base-font-size);
	padding: scut-em($base-font-size, $base-font-size);
	background-color: #0681CD;
	text-align: center;
	// Fix text flashing in safari during social icon transitions.
	transform: translateZ(0);

	&__tagline {
		font-size: scut-em($tagline-font-size, $base-font-size);
		margin-bottom: scut-em(40px, $tagline-font-size);
		line-height: 1.4;
		font-weight: 200;
		font-style: normal;
		text-rendering: optimizeLegibility;
	}

	&__legacy-docs-link {
		color: inherit;
		text-decoration: none;
		border-bottom: 1px dotted;
		font-size: scut-em(18px, $base-font-size);
	}
}
