@import url(/src/css/partials/_base.css);
@import url(/src/css/partials/_site-header.css);
@import url(/src/css/partials/_logo.css);
@import url(/src/css/partials/_section.css);
@import url(/src/css/partials/_feature-list.css);
@import url(/src/css/partials/_code-block.css);
@import url(/src/css/partials/_code-list.css);

.site-footer {
	background-color: #0681CD;
	color: #fff;
	padding: 3.125rem;
	text-align: center;
}

.hidden {
	visibility: hidden;
}

.sw-fadeInUp {
	visibility: hidden;
}

.fadeInUp {
	animation-duration: .5s;
}
