html,
body {
	height: 100%;
}

html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 1.125rem;
}

a {
	text-decoration: none;
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-top: .2rem;
  margin-bottom: .5rem;
  line-height: 1.4;
}

section {
	padding: 2.5rem 1.5625rem 0 1.5625rem;
}

.site-header,
.site-footer {
	background-color: #0681CD;
	color: #fff;
	padding: 3.125rem 1.5625rem;
	text-align: center;
}

/* Magnifier outer cicle. */
.magnifier {
	position: relative;
	display: inline-block;
	width: 240px;
	height: 240px;
	background-color: #fff;
	border-radius: 50%;
}

/* Magnifier handle.*/
.magnifier::before {
	content: '';
	background-color: #fff;
	width: 55%;
	height: 20%;
	position: absolute;
	left: -20%;
	bottom: -15%;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	transform: rotate(-50deg);
}

/* Magnifier inner circle.*/
.magnifier::after {
	content: '';
	position: absolute;
	width: 65%;
	height: 65%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #0681CD;
	border-radius: 50%;
}

.site-header-title {
	color: #fff;
	margin-left: 4.6875rem;
	word-break: break-all;
	word-wrap: break-word;
}

.site-header-tagline {
	color: #fff;
	margin: 2.5rem 0;
}

.site-header-btn {
	color: #fff;
	border: 1px solid #fff;
	padding: .9375rem 1.875rem;
	width: 100%;
	display: inline-block;
	font-size: 1.5rem;
	transition: .4s all;
}

.site-header-btn:hover,
.site-header-btn:focus {
	background-color: #fff;
	color: #0681CD;
}

.features-list {
	margin-bottom: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
}

.features-list-item {
	color: #fff;
	background-color: #0681CD;
	padding: 2rem;
	margin: .625rem;
	border-radius: .3125rem;
	height: 9.375rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 18.75rem;
}

/* Medium min-width 641px */
@media only screen and (min-width: 40.063em) {

	.magnifier {
		width: 272px;
		height: 272px;
	}

	.site-header-title {
		margin-left: 2.5em;
	}

	.site-header-btn {
		width: auto;
	}

}

.hidden {
	visibility: hidden;
}

.sw-fadeInUp {
	visibility: hidden;
	animation-duration: .5s;
}
